/* CSS Document */

/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #cdcdcd;
  margin-top: 0px;
  margin-left: 0px;
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}

div.bhoechie-tab {
	padding-bottom:20px;
	}

div.bhoechie-tab-menu, div.bhoechie-tab-menu-2{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

div.bhoechie-tab-menu .list-group-item, div.bhoechie-tab-menu-2 .list-group-item {
	border-bottom: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
	border-top: none;
	border-left: none;
	}

div.bhoechie-tab-menu div.list-group, div.bhoechie-tab-menu-2 div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a, div.bhoechie-tab-menu-2 div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #cdcdcd;
  border: none;
  color: #444444;
}

div.bhoechie-tab-menu-2 div.list-group>a.active,
div.bhoechie-tab-menu-2 div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu-2 div.list-group>a.active .fa{
  background-color: #cdcdcd;
  border: none;
  color: #444444;
}

div.bhoechie-tab-menu div.list-group>a.active:after, div.bhoechie-tab-menu-2 div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #cdcdcd;
}

div.bhoechie-tab-content, div.bhoechie-tab-content-2{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 20px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active), div.bhoechie-tab-2 div.bhoechie-tab-content-2:not(.active){
  display: none;
}