/* CSS Document */

body {
	background: #F5F5F5;
	/*background: #EFEFED;*/
	color: #444444;
	}

.top-bar {
	height: 35px;
	background: #222222;
	}
	
.navbar {
	background: #ffffff;
	border-bottom: 1px solid #cdcdcd;
	}
	
.nav-top {
	/*background: none repeat scroll 0 0 #222;*/
    border-radius: 0 0 25px 25px;
    color: #444;
    padding-top: 20px;
	}
	
.navbar-nav li a {
	color: #444444;
	}
	
.navbar-nav li a.active {
	background: #2f4b82 none repeat scroll 0 0;
    color: #ffffff;
    text-decoration: none;
	}
	
.page-wrapper {
	width: 100%;
	}
	
.breadcrumb {
	font-size: 12px;
	color: #888888;
	margin-bottom:10px;
	}
	
.breadcrumb a {
	color: #888888;
	}
	
.breadcrumb a.active {
	font-size: 14px;
	color:#2f4b82;
	}
	
.banner-container {
	background:url(../images/banner.jpg) no-repeat top left;
	background-size: cover;
	}
	
h1.page-header {
	border: medium none;
    color: #444444;
    font-size: 25px;
    font-weight: normal;
    margin: 0 0 10px;
	}
	
.panel .subscribe-box {
	min-height: 210px;
	background: url(../images/mail-box.jpg) no-repeat top left;
	background-size: 100% 100%;
		}
		
.panel .subscribe-box h3 {
	font-weight: normal;
	margin-top:10px;
	}
	
/*FORM WIDGET*/

.top-widget-area {
	padding: 45px 0 10px;
	}

.form-widget-wrapper {
	background: #2f4b82;
	}
	
.form-widget-wrapper h2 {
	font-size: 25px;
	margin: 15px 0;
	font-weight: normal;
	}
	
.form-widget-wrapper .form-widget-inner {
	min-height: 300px;
	padding-bottom:20px;
	background: #ffffff;
	overflow: hidden;
	}	
	
.form-widget-wrapper .panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.form-widget-wrapper .panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.form-widget-wrapper .panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}

.radio label {
	color: #444;
	}
	
/*Content*/	

.hot-picks .panel-body {
	padding-left: 0;
    padding-right: 0;
    padding-top: 0;
	}

.img-box-sml {
	min-height: 65px;
    width: 90px;
	border-radius: 2px;
	}
	
.list-display .panel-body {
	/*padding: 0 15px;*/
	}
	
.list-display .tab-content .list-group-item {
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
	border-top: none;
	border-left:none;
	border-right: none;
    display: block;
    margin-bottom: 0;
    padding: 10px 0;
    position: relative;
}

.list-display .tab-content .list-group-item:last-child {
	border-radius: 0;
	border-bottom: none;
	}
	
.list-display .tab-content .list-group-item p {
	margin-bottom: 0;
	}
	
.recmd-hotels .thumbnail {
	margin-bottom:5px;
	}
	
.recmd-hotels a {
	color: #444444;
	}
	
/*QUICK ENQUURY*/

.quick-enquiry-wrapper {
	position: fixed;
	top: 25%;
	right: 0px;
	z-index: 20;
	}

.quick-enquiry-wrapper .quick-enquiry {}

.quick-enquiry-wrapper .quick-enquiry a {
	display: block;
	}
	
ul.search-form-tab li {
	/*border-top: 1px solid #bec4d3;
	border-bottom: 1px solid #bec4d3;
	border-right: 1px solid #bec4d3;*/
	}
	
ul.search-form-tab li a:first-child, ul.nt-std-tab li:first-child {
	border-left: 1px solid #bec4d3;
	}
	
.form-widget-wrapper ul.search-form-tab li a, ul.nt-std-tab li a.nt-tab {
	background: #fff;
	padding: 7px 10px;
	color: #2f4b82;
	border-radius: 0;
	
	border-top: 1px solid #bec4d3;
	border-bottom: 1px solid #bec4d3;
	border-right: 1px solid #bec4d3;
	border-left: none;
	}
	
ul.search-form-tab li.active a, .nav-tabs ul.search-form-tab li.active a:hover, ul.nt-std-tab li.active a.nt-tab, ul.nt-std-tab li a.nt-tab:hover {
	background: #2f4b82 !important;
	color: #fff !important;
	}
	
ul.search-form-tab li a i {
	margin-right: 7px;
	font-size: 20px;
	}

	
/*search-again-wrapper starts*/

.search-again-wrapper {
	background:#fff;
	border-radius: 4px;
	border: 1px solid #cdcdcd;
	overflow:hidden;
	}
	
.search-again-wrapper .inner {
	padding: 10px;
	overflow:hidden;
	}
	
.search-again-wrapper label {
	font-weight: normal;
	}
	
.search-again-inner {
	padding: 20px;
	background: #EFEFED;
	overflow:hidden;
	}

/*search-again-wrapper ends*/


/*Form*/

form label {
	font-weight: normal;
	color: #444444;
	}
	
input.inputbox {
	border-radius: 4px;
	height: 40px;
	padding: 5px 10px;
	border: 1px solid #bec4d3;
	outline: none;
	font-size: 16px;
	}
.input-color {
	background: #ebedf2;
}
	
.input-block {
	display: block;
	}
	
input.inactive, .inactive {
	background: none ;
	border: none;
	}
	
input.inactive:focus {
	background: #fff;
	border: 1px solid #bec4d3;
	}
	
.autowidth {
	width: 100%;
	}
	
.newsletter-input {
	background: #2f4b82;
	color: #fff;
	height: 45px !important;
	border-radius: 4px;
	border: none !important;
	}
	
.email-signup-wrapper .input-group-btn {
    background: none repeat scroll 0 0 #e76601;
    font-size: 20px !important;
    padding: 0 18px 0 10px;
    position: relative;
    white-space: nowrap;
	color: #fff;
}

.email-signup-wrapper .input-group-btn a {
	color: #fff;
	}

/*Form Ends*/

.refine-search, .prod-wrapper {
	overflow: hidden;
	display: block;
	margin-top: 20px;
	}
	
.refine-search h3 {
	font-weight: normal;
	font-size: 20px;
	}
	
.refine-search .inner {
	background: #ffffff;
	border: 1px solid #cdcdcd;
	min-height: 400px;
	border-radius: 4px;
	}
	
.refine-search a.ex-co {
	color: #444;
	}
	
.refine-search a.ex-co:hover {
	text-decoration: none;
	}
	
	
/*Product row*/	

.prod-wrapper .top-info {
	margin: 0 0 20px;
	}

.prod-row {
	position: relative;
	display: block;
	margin-bottom: 20px;
	}
	
.prod-row .recommended {
	position:absolute;
	top: -7px;
	left: -7px;
	z-index: 10;
	}
	
.offer-ribbon {
	position: absolute;
	right: 0;
	top: -2px;
	z-index:10;
	}
	
.prod-row .inner {
	background: #ffffff;
	border: 1px solid #cdcdcd;
	min-height: 200px;
	border-radius: 4px;
	}
	
.box-inner {
	padding-top: 20px;
	}
	
.box-inner-2 {
	padding-left: 10px;
	padding-right:10px;
	}
	
.prod-name {
	font-size: 20px;
	font-weight: normal;
	display: inline-block;
	}
	
.prod-name span {
	display: block;
	}
	
.pkg-slider {
	
	}
	
.prod-listing-top .pkg-info-tabs {
	background: #f9f9f9;
	border: 1px solid #cdcdcd;
	border-radius: 4px;
	}
	
h2.section-title {
	font-size: 18px;
	margin-top: 25px;
	margin-bottom:20px;
	font-weight: normal;
	}
	
h2.section-title i {
	font-size: 25px;
	margin-right:10px;
	color: #a3acbf;
	}
	
/*.prod-listing-top .incl-list .inner {
	padding: 20px;
	background: #ffffff;
	border: 1px solid #cdcdcd;
	border-radius: 4px;
	}*/
	
.prod-listing-top .incl-list ul, ul.list-bullet{
	padding-left: 10px;
	}
	
.pkg-itinerary .inner {
	height: auto;
	overflow: hidden;
	}
	
/*.pkg-itinerary .itry-row {
	margin-bottom: 20px;
	}*/
	
.pkg-itinerary .itry-row:first-child .itry-heading  {
	border-top: none;
	}
	
.pkg-itinerary .itry-heading {
	border-top: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
	}
	
.pkg-itinerary .itry-day {
	color: #ffffff;
	font-size: 16px;
	display: inline-block;
	padding-left: 45px;
	}

.pkg-itinerary .itry-day-info {
	font-size: 16px;
	display: inline-block;
	padding-left: 15px;
	}
	
.pkg-itinerary ul.food-incl li {
	border: 1px solid #cdcdcd;
	border-radius: 4px;
	}
	
.pkg-hotels {
	position:relative;
	}
	
.bhoechie-tab-container a h4  {
	font-size: 14px;
	}
	
.hotel-detail-popup {
	/*overflow:hidden;*/
	background: #f5f5f5;
	padding: 20px;
	height:auto;
	
	}
	
.hotel-detail-popup .inner{
	overflow:hidden;
	background: #ffffff;
	padding: 20px;
	height: auto;
	}
	
.hotel-name {
	font-weight: normal;
	font-size: 16px;
	margin-bottom: 5px;
	}
	
.hotel-name-big {
	font-size: 25px;
	}
	
.hotel-star {
	margin-left: 5px;
	}
	
.hotel-star i {
	color: #f49f3d;
    font-size: 16px;
    margin-left: -5px;
	}
	
a.view-hotel-detail {
	margin: 10px 0;
	}
	
ul.tnc li {
	margin-bottom: 20px !important;
	}
	
.gray-fill {
	background: #f9f9f9;
	}

.orange-fill {
	background: #e76601;
	color: #ffffff;
	}
	
.inner-pad {
	padding: 7px;
	}
	
.prod-listing-top .pkg-info-tabs .tabs-inner {
	padding: 10px;
	}
	
ul.pkg-tabs {
	margin: 0;
	padding:0;
	}
	
ul.pkg-tabs li {
	padding: 5px 42px;
	background: #ffffff;
	border: 1px solid #cdcdcd;
	}

.text-orange {
	color: #e76601;
	}

.text-white {
	color: #ffffff;
	}

p.duration {
	text-transform: uppercase;
	padding: 4px;
	background: #ff9900;
	}
	
.was-price {
	color: #797979;
	font-size: 15px;
	text-decoration:line-through;
	margin-bottom:0;
	}

.main-price {
	color: #c75801;
	font-size: 24px;
	margin-bottom:0;
	}
	
.tour-info {
    font-size: 12px;
	}
	
.tour-duration {
	display: inline-block;
	background: #666;
	padding: 3px 5px;
	text-transform: uppercase;
	color: #fff;
	}
	
.price_box_wrapper {
	min-height: 320px;
	border-left: 1px solid #cdcdcd;
	text-align: center;
	}
	
/*.floating-price {
	width: 300px;
	}*/
	
.check-update-price {
	background: #f9f9f9;
	padding: 10px 0;
	}
	
.price_box_wrapper .nt-get {
	text-align: center;
	}
	
ul.list-inline li {
	display: inline-block;
	list-style-type: none;
	}
	
ul.pkg-incl {
	padding: 0;
	}
	
ul.pkg-incl i {}
	
ul.pkg-incl .fa-bed {
	font-size: 20px;
	}
	
ul.pkg-incl li {
	text-align: center;
	margin: 0 5px;
	}
	
ul.pkg-incl span.incl-name {
	display: block;
	margin-top: 4px;
	}
	
.room-info {
	padding: 20px;
	margin-top: 10px;
	}
	
.room-count {
	margin: 30px 0 0 0;
	}
	
.dark-highlight {
	background: #ccc;
	}
	
.box-divider {
	border-top: 1px solid #ccc;
	margin-top:20px;
	}
	
.fade-color {
	color: #7d7d7d;
	}
	
.text-highlight {
	color: #c75801;
	}
	
.box-rd {
	border-radius: 4px;
	overflow: hidden;
	}


/*Buttons*/

.cta {
	text-align:center;
	}

a.nt-btn {
	padding: 7px 15px;
	text-align: center;
	font-size:16px;
	border-radius: 4px;
	display:block;
	margin: 10px 0;
	}
	
.btn-gray {
	background: #8c8c8c;
	border-bottom: 2px solid #3a3a3a;
	color: #ffffff;
	}
	
.btn-orange {
	background: #e76601;
	border-bottom: 2px solid #ad6800;
	color: #ffffff;
	}
	
.btn-green {
	 background: #0F998F;
	 color: #ffffff;
	 }
	
.btn-gray:hover, .btn-orange:hover, .btn-green:hover {
	text-decoration: none;
	color: #ffffff;
	}
	
a.btn-gray:active, a.btn-orange:active {
	text-decoration: none;
	color: #ffffff;
	}
	
/*Social Buttons*/

.btn-twitter {
    background: #00acee;
    color: #fff;
	display: block;
}
.btn-twitter:link, .btn-twitter:visited {
    color: #fff;
}
.btn-twitter:active, .btn-twitter:hover {
    background: #0087bd;
    color: #fff;
}
.btn-facebook {
    background: #3b5998;
    color: #fff;
	display: block;
}
.btn-facebook:link, .btn-facebook:visited {
    color: #fff;
}
.btn-facebook:active, .btn-facebook:hover {
    background: #30477a;
    color: #fff;
}
.btn-googleplus {
    background: #e93f2e;
    color: #fff;
	display: block;
}
.btn-googleplus:link, .btn-googleplus:visited {
    color: #fff;
}
.btn-googleplus:active, .btn-googleplus:hover {
    background: #ba3225;
    color: #fff;
}
.btn-stumbleupon {
    background: #f74425;
    color: #fff;
	display: block;
}
.btn-stumbleupon:link, .btn-stumbleupon:visited {
    color: #fff;
}
.btn-stumbleupon:active, .btn-stumbleupon:hover {
    background: #c7371e;
    color: #fff;
}
.btn-linkedin {
    background: #0e76a8;
    color: #fff;
	display: block;
}
.btn-linkedin:link, .btn-linkedin:visited {
    color: #fff;
}
.btn-linkedin:active, .btn-linkedin:hover {
    background: #0b6087;
    color: #fff;
}
	
	
/*Refine Search Section*/

.budget h4, .pkg-duration h4 {
	display:block;
	padding: 10px;
	background: #ddd;
	margin-top: 0;
	font-weight: normal;
	}

/*Checkbox Styles*/

.checkbox, .radio {
    overflow: hidden;
}

.checkbox label.checkbox-row {
	display: block;
	padding: 0 10px;
	font-size: 1.4em; 
	vertical-align: middle;
	margin-bottom: 4px;
	}

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: right;
    margin-right: .5em;
	margin-left: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

/*.checkbox label input[type="checkbox"],*/
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}


/*Style of selectbox*/

.styled-select {
    background: #fff;
    border: medium none;
    border-radius: 0;
    font-size: 14px;
    height: 35px;
    overflow: hidden;
    /*width: 180px;*/
	width:100%;
	display: inline-block;
	vertical-align: middle;
	box-shadow: none;
	border-radius: 4px;
	border: 1px solid #bec4d3;
}
.styled-select select {
    -moz-appearance: none;
    background: url(../images/select_arrows.png) no-repeat scroll 78% 5px transparent;
    line-height: 1.5;
    overflow: hidden;
    text-indent: 0.01px;
    text-overflow: "";
    width: 120%;
	border: none !important;
	padding: 0 6px;
}

select {
	overflow:hidden;
    width: 120%;
	}
	
select option {
	padding: 4px 10px;
	}
	
.styled-select-2 select {
    -moz-appearance: none;
    background: url(../images/select_arrows.png) no-repeat scroll 78% -2px transparent;
    line-height: 1.5;
    overflow: hidden;
    text-indent: 0.01px;
    text-overflow: "";
    width: 120%;
	border: none !important;
	padding: 0 10px;
}
	
.styled-select-2 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 4px;
    box-shadow: none;
    display: inline-block;
    font-size: 12px;
    height: 20px;
    overflow: hidden;
    vertical-align: middle;
    width: auto;
}


/*Styled select end*/


/*Popup*/
.animate {
transition: all 0.5s ease;
-webkit-transition: opacity 500ms;
-moz-transition: opacity 500ms;
-o-transition: opacity 500ms;
transition: opacity 500ms;

}

.close, .close2 {
	/*background: url("../img/close.png") no-repeat scroll left top rgba(0, 0, 0, 0);*/
    color: #ffffff;
    font-size: 20px;
    height: 30px;
    opacity: 1;
    position: absolute;
    right: -15px;
    /*text-indent: -2500px;*/
    top: -11px;
    width: 30px;
	}

.overlay, .overlay2 {
	z-index: 1000;
	background: rgba(0, 0, 0, .7);
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	
-webkit-transition: opacity 500ms;
-moz-transition: opacity 500ms;
-o-transition: opacity 500ms;
transition: opacity 500ms;

}

.search-again-popup {
	left: 0;
    margin: 0 auto;
   /* position: absolute;*/
    top: 30px;
	display: none;
	z-index: 1001;
	
	width: 100%;
	height: 100%;

-webkit-transition: opacity 500ms;
-moz-transition: opacity 500ms;
-o-transition: opacity 500ms;
transition: opacity 500ms;
}

.hotel-detail-popup {
	left: 0;
    margin: 0 auto;
    position: absolute;
    top: 30px;
	display: none;
	z-index: 1001;
	
	width: 100%;

-webkit-transition: opacity 500ms;
-moz-transition: opacity 500ms;
-o-transition: opacity 500ms;
transition: opacity 500ms;
}

/*Popup end*/


/*Hotel Photo Gallery */
.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}



/*Package inner Slider*/

/* Makes images fully responsive */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */

/*.carousel-inner {
  border-radius: 6px;
}*/

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}


/* ------------------- Section Styling - Not needed for carousel styling ------------------- */

.section-white {
   padding: 10px 0;
}

.section-white {
  background-color: #fff;
  color: #555;
}

@media screen and (min-width: 768px) {

  .section-white {
     padding: 1.5em 0;
  }

}

@media screen and (min-width: 992px) {

 /* .container {
    max-width: 930px;
  }*/

}


/*Package Inner Slider ENDS*/




/*Footer*/

footer {
	background: #262626;
	color: #ffffff;
	margin-top:40px;
	padding: 20px 0 0;
	}

footer ul.footer-list li {
	margin-bottom:6px;
	}
	
footer ul.footer-list li a {
	color: #ccc;
	}
	
.footer-bottom {
	background: #111;
	padding: 10px 0;
	}
	
.footer-navbar-nav > li {
    float: left;
}

.footer-navbar-nav > li > a {
	color: #fff;
}

.footer-navbar-nav > li > a:hover {
	background: none;
}

/*Helper*/

.fixed {position:fixed; top:30px; right: 65px; width: 285px;}

.fixed-tabs {position:fixed; top:0px; height: 60px; z-index: 100;}

.tabs-scroll {
	box-shadow: 0 3px 3px #ccc;
	}

.text-18 {
	font-size: 18px;
	}
	
.text-16 {
	font-size: 16px;
	}
	
.text-14 {
	font-size: 14px;
	}

.text-12 {
	font-size: 12px;
	}

.text-11 {
	font-size: 11px;
	}
	
.price_per {}

ul.list-bullet  li {
	margin-bottom: 10px;
	}
	
.push-bottom-10 {
	margin-bottom: 10px;
	}
	
.push-bottom-20 {
	margin-bottom: 20px;
	}
	
.push-bottom-40 {
	margin-bottom: 40px;
	}
		
.push-top-20 {
	margin-top: 20px;
	}
	
.no-padding {
	padding: 0px !important;
	}
	
	
	
section {
    padding: 100px 0;
    text-align: center;
}
select.frecuency {
    border: none;
    font-style: italic;
    background-color: transparent;
    cursor: pointer;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
    border-bottom: none;
}
select.frecuency:focus {
    outline: none;
    border-bottom: 5px solid #39b3d7;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
}
.free {
    text-transform: uppercase;
}
.input-group {
    /*margin: 20px auto;*/
    width: 100%;
}
input.btn.btn-lg,
input.btn.btn-lg:focus {
    outline: none;
    width: 60%;
    height: 60px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
button.btn {
    width: 40%;
    /*height: 60px;*/
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.promise {
    color: #999;
}


/*Snipper*/

@media ( max-width: 585px ) {
	
	.fixed {
		width: 100%;
		right: 0;
		top: 0;
		z-index: 1000;
		}
	
    .input-group span.input-group-btn,.input-group input,.input-group button{
        display: block;
        width: 100%;
        border-radius: 0;
        margin: 0;
    }
    .input-group {
        position: relative;   
    }
    .input-group span.data-up{
        position: absolute;
        top: 0;
    }
    .input-group span.data-dwn{
        position: absolute;
        bottom: 0;
    }
    .form-control.text-center {
        margin: 34px 0;
    }
    .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
        margin-left:0;
    }
	
	ul.search-form-tab li a i {
		margin:0;
		}

}