/*!
 * Start Bootstrap - 1 Col Portfolio HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.navbar-inverse {
	height: 95px;
	display: block;
	}
	
.banner {
	position: relative;
	}
	
.banner .banner-img {
	height: 300px;
	width: 100%;
	overflow: hidden;
/*	background: url(../img/Enquiry_banner_kerala.jpg) no-repeat center center;*/
	background-size: cover;
	}
	
.title-overlay {
	background: rgba(0,0,0,.6);
	height: 80px;
	position:absolute;
	bottom: 0;
	width: 100%;
	}
	
.container {
	position: relative;
	}
	
.page-header {
	color:#ff760d;
	margin: 0;
    padding: 4%;
	}
	
ul.why-us {
	padding: 0;
	margin-top: 7%;
	}
	
ul.why-us li {
	list-style-type: none;
	display: inline-block;
	width: 30%;
	margin-bottom: 2%;
	text-align: center;
	}
	
ul.why-us li img {
	display: block;
	margin: 0 auto;
	}
	
.review-container h3, h3.why-us {
	background: #e3ecfc;
	padding: 1.5% 2%;
	margin-bottom: 4%;
	display: block;
	border-radius: 4px;
	}
	
figcaption {
	font-style: oblique;
	}
	
/*Form*/
	
.enquiry-form {
	background:#e3ecfc;
	/*border: 1px solid #cccccc;*/
	padding: 0;
	margin-bottom: 25px;
	margin-top: -190px;
	border-radius: 4px;
	}
	
.page-content {
	margin-top: -84px;
	}
	
.page-content h1 {
	/*background: rgba(0,0,0, .7);*/
	}
	
.page-content h1 small {
	color: #fff;
	font-size:	50%;
	}
	
.enquiry-form h3.form-head {
	background: none repeat scroll 0 0 #0a3282;
    color: #fff;
    margin: 0;
    padding: 2%;
	}
	
.form-big {
	color: #0a3282;
	font-size: 1.3em;
	margin: 2.5% 0 1%;
	line-height: 1.3;
	font-weight: 300;
	}
	
.enquiry-form .form-container {
	padding: 1% 6%;
	}
	
.enquiry-form form {
	margin: 4% 0;
	}
	
input.inputbox {
	height: 45px;
	padding: 5px 10px;
	display: block;
	width: 100%;
	border: 1px solid #BFC8D4;
	border-radius: 4px;
	margin-bottom: 2%;
	font-size: 1.2em;
	}
	
select.selectbox {
	background: #fff;
	height: 45px;
	/*width: 50%;*/
	}
	
select.selectbox option {
	padding: 2%;
	}
	
/*Style of selectbox*/

.styled-select {
    background: #fff;
	border: 1px solid #ddd !important;
    border: medium none;
    border-radius: 0;
    font-size: 16px;
    height: 30px;
    overflow: hidden;
    width: 180px;
	display: inline-block;
	vertical-align: middle;
}
.styled-select select {
    -moz-appearance: none;
    background: url("/theme/front/images/select_arrows.png") no-repeat;
    border: 0 none;
    cursor: pointer;
    line-height: 1.5;
    overflow: hidden;
    padding: 4px;
    text-indent: 0.01px;
    text-overflow: "";
    width: 120%;
	background-position: 260px;
}


select {
	overflow:hidden;
    width: 120%;
	}

.styled-select {
   width:300px;
   overflow: hidden;
   border: none;
   height: 45px;
   border-radius:0;
   font-size: 16px;
   display:block;
   
 }

/*Styled select end*/


input.checkbox {
	background: #fff;
	border: ddd;
	width: 17px;
	height:17px;
	margin-right: 2%;
	display: inline-block;
	}
	
button.submit-enquiry {
	background: none repeat scroll 0 0 #ff760d;
	border: 1px solid #bd6929;
	width: 100%;
	padding: 2% 10%;
	display: block;
	color: #fff;
	font-size: 140%;
	margin: 3% 0;
	border-bottom: 4px solid #A84F0B;
	border-radius: 4px;
	}
	
div.contact-info {
	position: relative;
	}

div.contact-info .contact-info-inner {
	position:relative;
	padding: 4%;
	border: 1px solid #ddd;
	border-radius: 4px;
	}
	
.need-help {
	background: none repeat scroll 0 0 #fff;
    left: 20px;
    padding: 0 1%;
    position: absolute;
    top: -15px;
	}

div.contact-info ul.ctc-info {
	padding: 0;
	margin: 4% 0 0;
	}

div.contact-info ul.ctc-info li {
	list-style-type: none;
	display: block;
	margin-bottom: 4%;
	padding-left: 50px;
	line-height: 1.6;
	}
	
div.contact-info ul.ctc-info li:last-child {
	margin: 0;
	}
	
div.contact-info ul.ctc-info li.phone {
	background: url(/theme/front/images/phone.png) no-repeat center left;
	}
	
div.contact-info ul.ctc-info li.mail {
	background: url(/theme/front/images/mail.png) no-repeat center left;
	}


footer {
    margin: 50px 0;
}


/*--------------------------------------------------------*/
/*Global Styles*/
/*--------------------------------------------------------*/

a.read-more {
	color: #ff760d;
	display:block;
	text-align: right;
	}