/* CSS Document */

.carousel {
    margin-bottom: 0;
    padding: 0px 30px;
}
/* The controlsy */
.carousel-control {
	left: -20px;
    height: 40px;
	width: 40px;
    background: none;
    border: 2px solid #444444;
    border-radius: 23px 23px 23px 23px;
    margin-top: 125px;
	text-shadow: none;
	font-size: 23px;
}
.carousel-control.right {
	right: -20px;
}

.carousel-control:focus, .carousel-control:hover {
    color: #444444;
    opacity: 0.9;
    outline: 0 none;
    text-decoration: none;
}

/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -20px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
	border: none;
}
.carousel-indicators .active {
background: #03497e none repeat scroll 0 0;
}