@charset "utf-8";
/* CSS Document */

/**********Developer Rk.Panchal From JSD Solutions***********/




body
{
background: none repeat scroll 0 0 #dfebff;
margin:0px;
padding:0px;
font-family:arial;
font-size:12px;
color:#444444;
}


.main
{
background: none repeat scroll 0 0 #fff;
border: 1px solid #b1bbcc;
box-shadow: 0 0 6px #a3abba;
padding: 20px 25px;
width:1000px;
height:auto;
}


.header
{
height:90px;
margin-bottom: 10px;

}
.logo
{
margin-top:5px;
}

.header div.topright span.callus {
color:#6276ac;
font-weight:normal;
font-size: 14px;
}

.menu
{
border-top:1px #d8d8d8 solid;
border-bottom:1px #d8d8d8 solid;
margin-bottom: 10px;
overflow: hidden;
padding-top:5px;
}


.menu ul
{
padding:0px;
margin:0px;
list-style:none;
}
.menu ul li a
{
border-right:1px solid #d8d8d8;
font-size:13px;
text-decoration:none!important;
color:#6276ac;
padding:0px 14px;
}

.menu ul li a:last-child {
border-right:none;
}

.menu ul li
{
 float:left;
 padding:10px 0px 10px 0px;
 cursor:pointer;
 font-weight:normal;
 color:#6281b6;
 text-transform:none;
 margin-right:2px;
 border-bottom:4px #ffffff solid;

}

.menu ul li:hover
{
 background:none;
 border-bottom:4px #e16100 solid;
}

.menu ul li:hover a
{
color:#6276ac;
}

.active 
{
 background:none;
 border-bottom:4px #e16100 solid;
}
.active a
{
color:#6276ac !important;
}


.mid
{
width:100%;
overflow:hidden;
margin-top:15px;
text-align:left;
clear:both;
}

.mid1
{
width:100%;
height:auto;
margin-top:15px;
text-align:left;
}


.left
{
width:350px;
height:auto;
float:left;
}

.right
{
width:635px;
height:auto;

float:right;
}



.search
{
background: rgba(255,255,255,.85) !important;
border:1px #d8d8d8 solid;
}

.search .tag1
{
 margin:0;
 text-align:left;
 background:#FF760E;
 padding:7px 10px 7px 10px;
 font-size:21px;
 font-weight:bold;
 color:#fff;
 text-shadow:2px 1px #A54A09;
-moz-text-shadow:2px 1px #A54A09;
-webkit-text-shadow:2px 1px #A54A09;
-khtml-text-shadow:2px 1px #A54A09;
}

.search input[type="submit"]
{
padding:7px 12px;
border:0px;
background:#FF760E;
font-family:arial;
font-size:14px;
font-weight:bold;
 color:#fff;
 text-shadow:2px 1px #A54A09;;
-moz-text-shadow:2px 1px #A54A09;;
-webkit-text-shadow:2px 1px #A54A09;;
-khtml-text-shadow:2px 1px #A54A09;;
}

.search div {
margin: 20px 0px;
}

.search select
{
padding:8px 10px 0;
margin:8px 10px 0px 10px;
width:328px;
border:1px #ccc solid;
color:#666;
font-size: 14px;
}

.search select option {
padding: 5px 0;}


.search input[class="date"]
{
margin:10px;
width:130px;
padding:10px;
border:1px #ccc solid;
color:#666;
background:url(../images/clender.png) no-repeat right center;
cursor: pointer;
}

/*clender*/


.banner
{
width:100%;
height:auto;
margin-top:-5px;
background: #ddd;
}

.pack
{
 width:100%;
 height:auto;
 margin-top:10px;
}

.tabs
{
height:60px;
width:635px;
}
.intab
{
height:60px;
background:url(../images/tip1.png) no-repeat;
}
.tabs_
{
height:50px;
width:635px;
}
.intabs
{
height:50px;
background:#A9C9FC;
}
.intabs p
{
font-weight:arial;
padding:0px;
margin:0px;
font-weight:bold;
color:#fff;
font-size:20px;
padding-top:12px;
padding-left:12px;
text-shadow:#333333 2px 1px 1px;
-moz-text-shadow:#333333 2px 1px 1px;
-webkit-text-shadow:#333333 2px 1px 1px;
-khtml-text-shadow:#333333 2px 1px 1px;
}

.dom
{
float:left;
padding:16px;
opacity:0.5;
float:left;
width:165px;
cursor:pointer;
}
.inter
{
padding:16px;
float:left;
opacity:0.5;
float:left;
width:240px;
cursor:pointer;
}

.hot
{
padding:16px;
float:left;
opacity:0.5;
float:left;
width:134px;
cursor:pointer;
}


/*.tabs table tr
{
background:url(../image/tabs_strip.png) no-repeat;
}
.tabs table tr td
{
padding:18px 0px 17px 0px;
color:#fff;
font-size:16px;
font-weight:bold;
text-shadow:#333 1px 1px;
cursor:pointer;
}*/

.tag
{
width:210px;
margin-right:4px;
height:64px;
background: url(../image/tag1.png) no-repeat;
float:left;
text-align:center;
color:#fff;
font-weight:bold;
font-size:15px;
padding-top:20px;

text-shadow:#666 1px 1px 2px;
-moz-text-shadow:#666 1px 1px 2px;
-webkit-text-shadow:#666 1px 1px 2px;
-khtml-text-shadow:#666 1px 1px 2px;
cursor:pointer;
}

.tactive
{
background: url(../images/tag2.png) no-repeat;
}

.promain
{
width:100%;
margin-top:18px;
overflow:scroll;
overflow-x:hidden;
height:430px;
}

.repd
{
  position:relative;
  width:188px;
  height:130px;
  float:left;
  margin-left:14px;
  margin-bottom:14px;
  cursor:pointer;
  border: none;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  background-size: cover !important;
}

.texts
{
  background:rgba(0,0,0,.7);
  margin:0px;
  padding:10px;
  position:absolute;
  text-align:left;
  color:#fff;
  font-weight:bold;
  font-size:13px;
  line-height:1.5;
  text-shadow:none;
  width:100%;
  bottom: 0;
  -moz-box-sizing: border-box;
  box-sizing:border-box;
}
.repd:hover 
{
opacity:1;
filter:alpha(opacity=100); /* For IE8 and earlier */
}

.str
{
margin-top:5px;
font-size:13px;
text-align:right;
line-height:1.5;
font-weight:bold;
color:#FF3300;
margin-top:-42px;
background:#000;
}

.line
{
border-bottom:1px #ccc solid;
margin: 10px 0px;
}

.abt
{
margin-top:10px;
height:auto;
text-align:left;
line-height:1.5;
color:#666666;
background:#ffffff;
border: 1px solid #dddddd;
padding: 10px;
overflow:hidden;
}

.abttitle
{
font-size:18px;
color:#6281b6;
margin-bottom:5px;
}

.abt a
{
font-weight:normal;
text-decoration:none;
float:right;
color:#FF760E;
padding:4px 10px 4px 10px;
background:none;
}


.conta
{
width:100%;
height:177px;
border:2px #ccc solid;
margin-top:10px;
}
.conta p
{
padding-left:10px;
font-weight:bold;
color:#666666;
font-size:16px;
}
.conta .lin
{
padding-left:10px;
color:#666666;
font-size:12px;
}
.conta .nos
{
padding-left:10px;
color:#333333 !important;
font-weight:bold;
font-size:16px;
margin-top:10px;
}
.conta .nos span
{
color:#33CCCC !important;
}
.conta .nos a
{
color:#FF6600;
}
.footer
{
height:40px;
margin-top:25px;
position: relative;
clear:both;
}

.footer ul
{
list-style:none;
padding:0px;
margin:0px;
margin-top:10px;
margin-left:10px;
}

.footer ul li
{
float:left;
padding:5px;
cursor:pointer;
border-right:1px #ccc dotted;
}

.footer ul li a {
color: #444444;
text-decoration: none;
}

.copy
{
text-align:right;
margin-bottom:10px;
}

.copy a
{
color:#003366;
text-decoration:none;
font-weight:bold;
}

.copy a:hover
{
color:#000000;
}

/******************************/

.mids
{
width:100%;
height:auto;
padding-top:10px;
}

.innerban
{
width:100%;
height:288px;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.texto
{
color:#FF760E;
font-size:12px;
text-align:left;
margin-left:15px;

}
.textg
{
color:#333333;

}

.cont
{
 font-size:15px;
 color:#333333;
 text-align:left;
 margin-left:15px;
}

.prorap
{
border:1px #ddd solid;
height:240px;
width:98%;
border-right:0px;
margin-bottom:30px;
cursor:pointer;
}

.pleft
{
float:left;
height:240px;
width:70%;
text-align:left;
padding-top:10px;
}


.pright
{
float:right;
height:260px;
width:29%;
background:#f7faff;
border:1px #dfebff solid;
margin-top:-12px; 
font-weight:bold;
color:#333333;

box-shadow:none;

}

.corner
{
background:url(../images/corner_fold.png) no-repeat;
width:10px;
height:7px;
text-align:left;
margin-left:-10px;
}

.ttag
{
height:39px;
}
.tago
{
padding:8px 10px;
float:left;
width:100px;
background:#FF760E;
font-weight:normal;
font-size:12px;
color:#fff;
margin-left:-10px;
margin-right:10px;
}

.pleft h1
{
margin:0px;
color:#FF760E;
font-size:2em;
font-weight: normal;
}
.mleft
{
height:160px;
width:65%;
float:left;
margin-top:5px;
margin-left:10px;
}

.mright
{
width:33%;
float:right;
margin-top:5px;
height:180px;
margin-top:-20px;
text-align:right;

}
.rout
{
font-size:12px;
line-height:1.5;
color:#727272;
}
.mright div
{
padding:15px;
float:left;
background:#f7faff;
border:1px #dfebff solid;
margin-right:14px;
margin-bottom:14px;
text-align:center;
font-size:11px;
font-weight:normal;
color:#444444;
width:55px;
height:50px;
}

.hc
{
padding:10px;
border:0px;
background:none;
color:#0a3486;
margin-left:12px;
width:140px;
}

.rate
{
background:#fff;
border:1px #dfebff solid;
padding:10px;
width:70%;
margin-top:20px;
}

.rate p
{
color:#066963;
font-weight: bold;
font-size:18px;
margin:0px;
margin-bottom:5px;
}
.pdbut
{
background:#dfebff;
border:1px #c8d3e5 solid;
padding:10px;
width:70%;
margin-top:7px;
color:#4F6B93;
font-size:15px;


cursor:pointer;
}
.bnbut
{
background:#ff760c;
border:1px #be6a2a solid;
padding:10px;
width:70%;
margin-top:7px;
color:#fff;
font-size:14px;
text-shadow:2px 1px #a54a09;
cursor:pointer;
}
.testimonials
{
border:1px #ddd solid;
}
.testimonials tr td
{
padding:0px;
}

.testimonials tr td .tags
{
font-size:20px;
padding:10px;
margin:0px;
background:#FF760E;
color:#fff;
}
.blog-category-title{
margin:0px;
}
