@charset "utf-8";
/* CSS Document */

.mids1
{
width:1000px;
height:auto;
padding-top:8px;
}

.rkl
{
height:auto;
width:700px;
}


.rkr
{
height:auto;
width:270px;
position:relative;
margin-right:10px;

}

.custom_rate
{
height:auto;
width:100%;
background:#f7faff;
border:1px #dfebff solid;
margin-top:-2px; 
font-weight:bold;
color:#444444;
padding-bottom:15px;
}


.bnbut1
{
background:#ff760c;
border:1px #be6a2a solid;
padding:10px;
width:80%;
margin-top:7px;
color:#fff;
font-size:14px;
text-shadow:#333 2px 1px 2px;
cursor:pointer;
}

.rate1
{
background:#fff;
border:1px #dfebff solid;
padding:10px;
width:80%;
margin-top:20px;
text-align:center;
}

.rate1 p
{
color:#066963;
font-weight:normal;
font-size:26px;
margin:0px;
margin-bottom:5px;

}

.contact_d
{
width:100%;
margin-top:15px;
border-top:2px #dfebff solid;
}

.contact_d p
{
color:#FF760C;
line-height:1.5;
margin-bottom:5px;
}

.contact_d span
{
line-height:1.5;
}


.dban
{
width:100%;
height:287px;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
margin-left:0px;
}

.corner2
{
background:url(../images/corner_fold.png) no-repeat;
height:10px; height:7px;
margin-left:-10px;
margin-top:5px;
}

.pad1
{
padding:10px 10px 10px 20px;
background:#FF760E;
width:120px;
margin-left:-10px;
font-weight:bold;
color:#fff;
}

.tnsp
{
 width:auto;
 height:65px;
 background: rgba(0,0,0,.7);
 margin-top:-75px;
 margin-left:0px;
 padding:10px 15px;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 color:#fff;
 line-height:1.5;
}

.tnsp span
{
font-weight:normal;
font-size:24px;
}


.others
{
margin-top:15px;
}

.innertag
{
background:url(../images/but1.png) no-repeat;
height:50px;
width:710px;
}

.pins
{
float:left;

padding:12px 55px 12px 55px;
/*border-right:1px #8aadd7 solid;*/
cursor:pointer;
font-weight:bold;
color:#fff;
text-shadow:#000 0px 1px 1px;
-moz-text-shadow:#000 0px 1px 1px;
-webkit-text-shadow:#000 0px 1px 1px;
-khtml-text-shadow:#000 0px 1px 1px;
text-align:center;
}

.actives
{
background:#9db9e9;
}

.pins1
{
float:left;
text-align:center;
width:169px;
border-right:1px #fff solid;
margin-top:0.5px;
}

.inclution
{
width:700px;
height:auto;
background:#f7faff;
border:1px #dfebff solid;
/*padding:15px 15px 10px 15px;*/
margin-top:15px;
}

.itin_title
{
 font-weight:bold;
 font-size:18px;
 color:#FF760C;
}

.itin_title img
{
margin-right:8px;
margin-bottom:-10px;
}

.inclution ul
{
margin:0px;
padding-left:18px;
line-height:1.5;
color:#444444;
}

.inclution ul li {
margin:10px;
font-size: 14px;
}

.corner3
{
background:url(../images/corner_fold.png) no-repeat;
height:10px; height:7px;
margin-left:-10px;
}

.itintag1
{
height:35px;
border:1px #d4dbed solid;
background:#e6efff;
}

.orgtag
{
background:#ff760c;
padding:9px 9px 9px 20px;
font-weight:bold;
color:#fff;
width:70px;
font-size:14px;
margin-left:-11px;
margin-top:-1px;
float:left;
margin-right:15px;
}

.itin_title1
{
color:#444444;
font-weight:bold;
padding:8px 10px 10px 10px;
font-size:14px;
}

.itin_matter
{
padding:10px;
color:#444444;
line-height:1.5;
font-size:14px;
text-align:justify;
}
.tab
{
border:1px #dfebff solid;
}
.tab tr td
{
padding:10px;
}
.firstrow
{
background:#e6efff;
border:1px #d2daef solid;
font-weight:bold;
color:#444444;
}
