ul.bxslider{
/**height: 300px !important; 
width: 635px !important;
padding-left: 0px;*/
margin-top: 0px;
}
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #FF760E;
	border-bottom: 0px !important; 
}
.banner .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
bottom: -15px;
width: 100%;
}
.banner .bx-wrapper {
position: relative;
margin: 0 auto 30px;
}

.topright
{
float:right;
width:315px;
height:84px;
margin-top:7px;
text-align:right;
}
.callus
{
font-size:16px;
color:#003399;
font-weight:bold;
}
.phone-wrapper
{
height: 32px;
width:285px;
float:right;
}
.phone-wrapper .left{
float: left;
width:35px;
}

.phone-wrapper .right
{
width: 250px;
font-size: 14px;
}
.social-wrapper{
float:right;
margin-top: 7px;
}
.blog_mid
{
width:100%;
height:auto;
}


@charset "utf-8";
/* CSS Document */

/*slider right*/
.slide-main1 {
  position: fixed;
 top: 300px;
  left: 0;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  z-index:999999;
}
.slide-main2 {
  position: fixed;
 top: 300px;
  right: 0;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  z-index:999999;
}
.slide-container1 {
  height:340px;
  width:260px;
  border:15px solid #F4F4F4;
  border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
  background:#EBEBEB;
  position: fixed;
  top: 150px;
  left: -300px;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  box-shadow:#ccc 0px 0px 5px;
  -webkit-box-shadow:#ccc 0px 0px 5px;
  -moz-box-shadow:#ccc 0px 0px 5px;
}
.slide-container2 {
  height:340px;
  width:260px;
  border:15px solid #F4F4F4;
  border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
  background:#EBEBEB;
  position: fixed;
  top: 150px;
  right: -300px;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  box-shadow:#ccc 0px 0px 5px;
  -webkit-box-shadow:#ccc 0px 0px 5px;
  -moz-box-shadow:#ccc 0px 0px 5px;
}
.slide-main1:hover {
left:155px;
}

.slide-main2:hover {
right:155px;
}

.slide-main1:hover .slide-container1{
  left: -20px;
}

.slide-main2:hover .slide-container2{
  right: -20px;
}
/*slider right*/

form .input1 {
    float: left;
    font-family: helvetica,arial,sans-serif;
    height: 25px;
    padding: 7px 0;
    width: 200px!important;
}
form .input1 input[type="text"], form .input input[type="password"], textarea {
    border: 1px solid #E4AA2C;
    border-radius: 2px;
    box-shadow: 1px 2px 2px #E5E5E5 inset;
    display: block;
    float: left;
    font-family: helvetica,arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding: 5px 7px;
    width: 200px;
}
form .input1 {
    float: left;
    font-family: helvetica,arial,sans-serif;
    height: 25px;
    padding: 7px 0;
    width: 400px;
}
form .input1 input[type="text"], form .input input[type="password"], textarea {
    border: 1px solid #E4AA2C;
    border-radius: 2px;
    box-shadow: 1px 2px 2px #E5E5E5 inset;
    display: block;
    float: left;
    font-family: helvetica,arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding: 5px 7px;
    width: 200px;
}

form .input1 {
    float: left;
    font-family: helvetica,arial,sans-serif;
    height: 25px;
    padding: 7px 0;
    width: 200px;
}
form .input1 input[type="text"], form .input input[type="password"], textarea {
    border: 1px solid #E4AA2C;
    border-radius: 2px;
    box-shadow: 1px 2px 2px #E5E5E5 inset;
    display: block;
    float: left;
    font-family: helvetica,arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding: 5px 7px;
    width: 200px;
}
.button {
    background-color:#E4AA2C;
    border: 0 none;
	width:130px; 
	
	height:30px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'proxima-nova',helvetica,arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.025em;
    outline: medium none;
    padding: 5px 35px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s;
}
.button {
    color: #FFFFFF;
    display: inline-block;
    font-size: 15px;
    line-height: 1.2em;
}
form .input1 select {
    border: 1px solid #CCCCCC;
}
/*************************************************************/

.tttt
{
 width:180px;
 padding:5px;
 font-weight:bold;
 color:#fff;
 font-size:14px;
border-bottom:1px #fff solid; 
}
