/* custom font used in header text */
@font-face {
 font-family: Norican;
 font-weight: normal;
 src: url('norican/Norican-Regular.ttf');
}
/* ios slider details */

.sliderContainer {
	height: 100%;
	max-height: 300px;
	padding: 0 0;
}
.iosSlider {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 400px;
}
.iosSlider .slider {
	width: 100%;
	height: 100%;
}
.iosSlider .slider .item {
	width: 100%;
	height: 100%;
	padding: 5px 0 5px 0;
}
.iosSlider .slider .item .inner {
	position: relative;
	top: 0;
	left: 0;
	margin: 0px;
	width:900px;
	height: 100%;
	padding:0px;
	border:1px #ccc solid;
	background-position: 50% 0;
	background-repeat: no-repeat;
}
.iosSlider .slider .item .inner .text1 {
	background: none repeat scroll 0 0 #000;
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	right: 150px;
	top: 30px;
	padding: 0px 0px 0px 0px;
}
.iosSlider .slider .item .inner .text1 span {
	color: #fff;
	font: 55px/70px Norican;
	padding: 0 8px;
}
.iosSlider .slider .item .inner .text2 {
	background: none repeat scroll 0 0 #000;
	opacity: 0;
	filter: alpha(opacity=0);
	padding: 0px 0px 0px;
	position: absolute;
	right: 0;
	top: 100px;
}
.iosSlider .slider .item .inner .text2 span {
	color: #fff;
	font: 16px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*.iosSlider .slider .item1 .inner {
	background-image: url('../image/3.png');
}
.iosSlider .slider .item2 .inner {
	background-image: url('../image/11.png');
}
.iosSlider .slider .item3 .inner {
	background-image: url('../image/12.png');
}
.iosSlider .slider .item4 .inner {
	background-image: url('../image/6.png');
}
.iosSlider .slider .item5 .inner {
	background-image: url('../image/7.png');
}*/
.sliderContainer .slideSelectors {
	position: relative;
	bottom: 25px;
	left: 10px;
	width: 100%;
	margin: 0px;
	z-index: 1;
	height: 10px;
}
.sliderContainer .slideSelectors .item {
	float: left;
	width: 9px;
	height: 9px;
	border: 1px solid #000;
	background: #999;
	margin: 0 0 0 10px;
	opacity: 0.25;
	filter: alpha(opacity=25);
        border-radius: 50%;
}
.sliderContainer .slideSelectors .selected {
	background: #ff760d;
	opacity: 1;
	filter: alpha(opacity=100);
}
 @media screen and (max-width: 1105px) {
 .iosSlider .slider .item .inner {
width: 100%;
margin: 0%;
background-position: 80% 0;
}
 .sliderContainer .slideSelectors {
width: 92%;
margin: 0 4%;
}
}
 @media screen and (max-width: 768px) {
 .iosSlider .slider .item .inner .text1 span {
font: 40px/50px Norican;
}
 .iosSlider .slider .item .inner .text2 {
top: 85px;
}
 .iosSlider .slider .item .inner .text2 span {
font: 12px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
}
